span.words.splitting {
    font-size: 95px;
}


.process-step-style-11 .process-step-icon-wrap {
    background-color: var(--base-color-old) !important;
}


.bg-base-color, .header-cart-icon .cart-count {
    background-color: var(--base-color-old);
}

.navbar-expand-lg .navbar-nav {
    position: absolute !important;
    right: 0;
    top: 16px;
}