.fs-170 {
    font-size: 9.625rem !important;
}

.para-bold{

    font-weight: 400;
    color: #000;
}


span.error {
    color: red;
    font-size: 15px;
}

.elec-camp{
    background-color: #b93927 !important;
    padding: 40px !important;
    border-radius: 50px;
    margin-top: 10px;
}

.footer_section {
    padding-top: 35px !important;
    padding-bottom: 0px !important;
    background-color: #000;
    color: white;
}
